
<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <h4>Erros ao enviar o formulário:</h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="center-container">
  <h1>Editar Perfil</h1>
  <p>Atualize suas informações</p>
</div>
<div class="form-container mt-2">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>

    <!-- Profile Picture Preview -->
    <% if resource.avatar.attached? %>
      <div class="form-group">
        <%= cl_image_tag resource.avatar.key,
          transformation: [{ width: 500, height: 500, crop: "fill" }],
          alt: "Profile Picture",
          class: "large-profile-picture mx-auto d-block" %>
      </div>
    <% else %>
      <p class="text-center">Nenhuma foto de perfil carregada.</p>
    <% end %>

    <!-- Avatar Upload -->
    <div class="form-group">
      <%= f.label :avatar, "Alterar Foto de Perfil", class: "form-label fw-bold" %>
      <%= f.file_field :avatar, accept: 'image/png,image/jpeg,image/gif', class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "E-mail", class: "form-label fw-bold" %>
      <%= f.email_field :email, required: true, autofocus: true, class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p class="alert alert-info">
        Atualmente aguardando confirmação para: <strong><%= resource.unconfirmed_email %></strong>
      </p>
    <% end %>

    <div class="form-group">
      <%= f.label :password, "Nova Senha", class: "form-label fw-bold" %>
      <%= f.password_field :password, placeholder: "Deixe em branco se não quiser alterar.", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmar Nova Senha", class: "form-label fw-bold" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password, "Senha Atual", class: "form-label fw-bold" %>
      <%= f.password_field :current_password, class: "form-control" %>
    </div>

    <div class="form-group text-center">
      <%= f.submit "Atualizar Perfil", class: "btn btn-primary-orange" %>
    </div>

  <% end %>
  <div class="text-center">
  <%= link_to "Voltar", :back, class: "btn btn-primary-blue" %>
</div>
</div>
