<div class="container" data-controller="modal">
  <%= render 'shared/index-banner' %>
    <%= render 'filter' %>
  <div class="row row-cols-1 row-cols-md-4 g-4 align-items-stretch">
    <% @pets.each do |pet| %>
    <div class="col d-flex justify-content-center">
      <div class="pet-card">
        <%= image_tag pet.photos.attached? ? url_for(pet.photos.first) : asset_path("placeholder.png"),
            alt: pet.name,
            class: "pet-image",
            data: { action: "click->modal#open", "modal-url": modal_pet_path(pet) } %>
        <div class="pet-info">
          <div class="pet-name"><strong><%= pet.name %></strong></div>
          <div class="pet-gender"><%= pet.gender %></div>
          <%= link_to "Ver Detalhes", pet_path(pet), class: "details-button" %>
          <%= link_to "Remover", pet_path(pet), data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja remover #{pet.name} 😿?" }, class: "btn btn-primary-orange" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div id="modal" class="modal-overlay">
    <div class="modal-content">
      <button type="button" class="close-button" data-action="click->modal#close">X</button>
      <div data-modal-target="modalBody"></div>
    </div>
  </div>

</div>
