<div class="container">
    <h1><strong>Detalhes do animal</strong></h1>
    <img src="<%= @pet.image_url %>" alt="<%= @pet.name %>" class="avatar"/>
    <h1>Nome:<%= @pet.name %></h1>
    <p>Idade: <%= @pet.age %> anos</p>
    <p>Espécie: <%= @pet.species %></p>
    <p>Gênero: <%= @pet.gender %></p>
    <p>Tamanho: <%= @pet.size %></p>

</div>
