<nav class="navbar">
  <div class="navbar-left">
    <%= link_to root_path, class: "navbar-left-link" do %>
      <i class="fa-solid fa-bars logo-icon"></i>
      <span class="navbar-brand">AdoptPet</span>
    <% end %>
  </div>

  <div class="navbar-center">
    <%= link_to root_path, class: "navbar-center-link" do %>
      <i class="fa-solid fa-paw logo-icon-center"></i>
    <% end %>
  </div>

  <div class="navbar-right">
    <% if user_signed_in? %>
      <a href="<%= new_pet_path %>" class="nav-link">Quero Doar</a>
      <a href="<%= root_path %>" class="nav-link bold">Quero Adotar</a>

      <div class="dropdown">
        <%= image_tag "https://avatars.githubusercontent.com/u/194866677?v=4",
          class: "avatar dropdown-toggle",
          id: "navbarDropdown",
          data: { bs_toggle: "dropdown" },
          'aria-haspopup': true, 'aria-expanded': false %>

        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Minhas Adoções", orders_path, class: "dropdown-item" %>
          <%= link_to "Meu Perfil", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item text-danger" %>
        </div>
      </div>

    <% else %>
      <a href="<%= new_user_session_path %>" class="nav-link">Entrar <i class="fa-solid fa-arrow-right primary-orange"></i></a>
      <a href="<%= new_user_registration_path %>" class="nav-link bold">Cadastre-se</a>
    <% end %>
  </div>
</nav>
<hr class="navbar-separator">
